beautifulsoup4==4.11.1
boto3==1.24.82
botocore==1.27.82
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
coloredlogs==15.0.1
flatbuffers==22.9.24
future==0.18.2
google==3.0.0
google-api-core==2.10.1
google-auth==2.11.1
google-cloud==0.34.0
google-cloud-vision==3.1.2
googleapis-common-protos==1.56.4
grpcio==1.49.1
grpcio-status==1.49.1
humanfriendly==10.0
idna==3.4
imageio==2.22.1
jmespath==1.0.1
joblib==1.2.0
mpmath==1.2.1
networkx==2.8.7
numpy==1.23.3
onnx==1.8.0
onnxoptimizer==0.3.1
onnxruntime==1.12.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
proto-plus==1.22.1
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
qudida==0.0.4
requests==2.28.1
rsa==4.9
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
soupsieve==2.3.2.post1
sympy==1.11.1
threadpoolctl==3.1.0
tifffile==2022.8.12
torch==1.12.0+cu116
torchaudio==0.12.0+cu116
torchvision==0.13.0+cu116
typing_extensions==4.3.0
urllib3==1.26.12